<a href="https://colab.research.google.com/github/bachi-mohamed-rafik/pandas/blob/main/Chipotle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas 
#Chipotle

In [4]:
# Import the necessary libraries
import pandas as pd
import requests

In [5]:
# Import the dataset from this address.Â¶
# Assign it to a variable called chipo
url="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo=pd.read_csv(url ,sep='\t')

In [6]:
# See the first 10 entries
print("See the first 10 entries")
print(chipo.head(10))

# What is the number of observations in the dataset
print("the number of observations in the dataset")
print(chipo.shape)

# What is the number of columns in the dataset
print("the number of columns in the dataset : ")
print(len(chipo.columns))

# Print the name of all the columns.
print("the name of all the columns :")
print(chipo.columns)

# How is the dataset indexed
print("How is the dataset indexed :")
print(chipo.index)

See the first 10 entries
   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]
the number of observations in the dataset
(4622, 5)
the number of columns in the dataset :
5
the name of all the columns :
Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')
How is the dataset indexed :
RangeIndex(start=0, stop=4622, step=1)

In [7]:
# Which was the most-ordered item
print("Which was the most-ordered item :  +  how many items were ordered")
items  = chipo.item_name.value_counts().head(1)
print(items)

# 
print("the most ordered item in the choice_description column : ")
freq_choice_description  = chipo.choice_description.value_counts()
print(freq_choice_description)

# How many items were orderd in total
print("How many items were orderd in total : ")
orderd = chipo.item_name.value_counts()
items_count = len(orderd)
print(items_count)

Which was the most-ordered item :  +  how many items were ordered
Chicken Bowl    726
Name: item_name, dtype: int64
the most ordered item in the choice_description column :
[Diet Coke]                                                                                        134
[Coke]                                                                                             123
[Sprite]                                                                                            77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                              42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                   40
                                                                                                  ...
[Tomatillo Red Chili Salsa, [Rice, Fajita Vegetables, Sour Cream, Lettuce]]                          1
[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Pinto Beans, Cheese, Guacamole, Lettuce]]       1
[Fresh Tomato Salsa, [Lettuce, Rice, Black Beans, Cheese]]                                           1
[Tomatillo Green Chili Salsa, [Sour Cream, Cheese, Lettuce]]                                         1
[[Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Rice, Cheese, Lettuce]]      1
Name: choice_description, Length: 1043, dtype: int64
How many items were orderd in total :
50

In [8]:
# 13. Turn the item price into a float
print(" 13. Turn the item price into a float : ")
chipo['item_price'] = chipo['item_price'].map(lambda x: x.lstrip('$'))
chipo['item_price'] = chipo['item_price'].astype({"item_price": float})
print(chipo)

#Check the item price type
print("Check the item price type :")
print(chipo['item_price'].dtypes)

# 13.b. Create a lambda function and change the type of item price
def lambeda():
	x=0
	while((x!=1)or(x!=2)or(x!=3)):
		x=int(input("Tape  1 for int or 2 for float  or 3 for string"))
	if (x==1):
		chipo['item_price'] = chipo['item_price'].map(lambda x: x.lstrip('$'))
		chipo['item_price'] = chipo['item_price'].astype({"item_price": int})
		print(chipo)
	if (x==2):
		chipo['item_price'] = chipo['item_price'].map(lambda x: x.lstrip('$'))
		chipo['item_price'] = chipo['item_price'].astype({"item_price": float})
		print(chipo)        
	if (x==2):
		chipo['item_price'] = chipo['item_price'].map(lambda x: x.lstrip('$'))
		chipo['item_price'] = chipo['item_price'].astype({"item_price": string})
		print(chipo)

 13. Turn the item price into a float :
      order_id  ...  item_price
0            1  ...        2.39
1            1  ...        3.39
2            1  ...        3.39
3            1  ...        2.39
4            2  ...       16.98
...        ...  ...         ...
4617      1833  ...       11.75
4618      1833  ...       11.75
4619      1834  ...       11.25
4620      1834  ...        8.75
4621      1834  ...        8.75

[4622 rows x 5 columns]
Check the item price type :
float64

In [9]:
# 14. How much was the revenue for the period in the dataset
t = chipo['quantity'] * chipo['item_price']
print(t)
print("\t the revenue for the period in the dataset:  \t")
print(t.sum())

# Step 15. How many orders were made in the period
command_count = chipo['order_id'].max()
print("Order count : \t  ")
print(command_count)

0        2.39
1        3.39
2        3.39
3        2.39
4       33.96
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Length: 4622, dtype: float64
	 the revenue for the period in the dataset:
39237.02
Order count :
1834

In [10]:
# Step 16. What is the average revenue amount per order
chipo['gain'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
print(order_grouped.mean()['gain'])

# Step 17. How many different items are sold
print("Step 17. How many different items are sold")
x=chipo['item_name'].value_counts()
print(x)
print(x.count())

21.394231188658654
Step 17. How many different items are sold
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Chips and Mild Fresh Tomato Salsa          1
Name: item_name, dtype: int64
50