<a href="https://colab.research.google.com/github/bachi-mohamed-rafik/pandas/blob/main/Consumption.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Consumption

In [1]:
import pandas as pd
url="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"
drinks=pd.read_csv(url, sep=',')


n=drinks.drop_duplicates(subset=['continent'])
#print(n['continent'])

AS=[]

x1=drinks[drinks.continent=="AS"]
px1=x1["beer_servings"]
AS.append(px1.sum())

x2=drinks[drinks.continent=="AS"]
px2=x2["spirit_servings"]
AS.append(px2.sum())

x3=drinks[drinks.continent=="AS"]
px3=x3["wine_servings"]
AS.append(px3.sum())

x4=drinks[drinks.continent=="AS"]
px4=x4["total_litres_of_pure_alcohol"]
AS.append(px4.sum())
print(AS)
ASAV=sum(AS)/len(AS)
print(ASAV)


EU=[]

x1=drinks[drinks.continent=="EU"]
px1=x1["beer_servings"]
EU.append(px1.sum())

x2=drinks[drinks.continent=="EU"]
px2=x2["spirit_servings"]
EU.append(px2.sum())

x3=drinks[drinks.continent=="EU"]
px3=x3["wine_servings"]
EU.append(px3.sum())

x4=drinks[drinks.continent=="EU"]
px4=x4["total_litres_of_pure_alcohol"]
EU.append(px4.sum())
print(EU)
EUAV=sum(EU)/len(EU)
print(EUAV)



AF=[]

x1=drinks[drinks.continent=="AF"]
px1=x1["beer_servings"]
AF.append(px1.sum())

x2=drinks[drinks.continent=="AF"]
px2=x2["spirit_servings"]
AF.append(px2.sum())

x3=drinks[drinks.continent=="AF"]
px3=x3["wine_servings"]
AF.append(px3.sum())

x4=drinks[drinks.continent=="AF"]
px4=x4["total_litres_of_pure_alcohol"]
AF.append(px4.sum())
print(AF)
AFAV=sum(AF)/len(AF)
print(AFAV)


NA=[]

x1=drinks[drinks.continent=="NA"]
px1=x1["beer_servings"]
NA.append(px1.sum())

x2=drinks[drinks.continent=="NA"]
px2=x2["spirit_servings"]
NA.append(px2.sum())

x3=drinks[drinks.continent=="NA"]
px3=x3["wine_servings"]
NA.append(px3.sum())

x4=drinks[drinks.continent=="NA"]
px4=x4["total_litres_of_pure_alcohol"]
NA.append(px4.sum())
print(NA)
NAAV=sum(NA)/len(NA)
print(NAAV)



OC=[]

x1=drinks[drinks.continent=="OC"]
px1=x1["beer_servings"]
OC.append(px1.sum())

x2=drinks[drinks.continent=="OC"]
px2=x2["spirit_servings"]
OC.append(px2.sum())

x3=drinks[drinks.continent=="OC"]
px3=x3["wine_servings"]
OC.append(px3.sum())

x4=drinks[drinks.continent=="OC"]
px4=x4["total_litres_of_pure_alcohol"]
OC.append(px4.sum())
print(OC)
OCAV=sum(OC)/len(OC)
print(OCAV)


SA=[]

x1=drinks[drinks.continent=="SA"]
px1=x1["beer_servings"]
SA.append(px1.sum())

x2=drinks[drinks.continent=="SA"]
px2=x2["spirit_servings"]
SA.append(px2.sum())

x3=drinks[drinks.continent=="SA"]
px3=x3["wine_servings"]
SA.append(px3.sum())

x4=drinks[drinks.continent=="SA"]
px4=x4["total_litres_of_pure_alcohol"]
SA.append(px4.sum())
print(SA)
SAAV=sum(SA)/len(SA)
print(SAAV)

[1630, 2677, 399, 95.49999999999999]
1200.375
[8720, 5965, 6400, 387.7999999999999]
5368.2
[3258, 866, 862, 159.4]
1286.35
[0, 0, 0, 0.0]
0.0
[1435, 935, 570, 54.099999999999994]
748.525
[2101, 1377, 749, 75.7]
1075.675

In [2]:
# Which continent drinks more beer on average?
print("Which continent drinks more beer on average :")
m=max(ASAV,EUAV,AFAV,NAAV,SAAV,OCAV)
print(m)

var = {ASAV:"ASAV",EUAV:"EUAV",AFAV:"AFAV",NAAV:"NAAV",SAAV:"SAAV",OCAV:"OCAV"}
max(var)

print( var.get(max(var)))

Which continent drinks more beer on average :
5368.2
EUAV

In [3]:
# For each continent print the statistics for wine consumption.
print("For each continent print the statistics for wine consumption:")


#
raw_data = {'continent': ['AS','EU','AF','NA','OC','SA'],
            'beer_servings': [AS[0], EU[0], AF[0], NA[0], OC[0], SA[0]],
            'spirit_servings': [AS[1], EU[1], AF[1], NA[1], OC[1], SA[1]],
            'wine_servings': [AS[2], EU[2], AF[2], NA[2], OC[2], SA[2]],
            'total_litres_of_pure_alcohol': [AS[3], EU[3], AF[3], NA[3], OC[3], SA[3]]
            }


cont_stat=pd.DataFrame(raw_data, columns = ['continent','beer_servings','spirit_servings','wine_servings','total_litres_of_pure_alcohol'])
print(cont_stat)

For each continent print the statistics for wine consumption:
  continent  beer_servings  ...  wine_servings  total_litres_of_pure_alcohol
0        AS           1630  ...            399                          95.5
1        EU           8720  ...           6400                         387.8
2        AF           3258  ...            862                         159.4
3        NA              0  ...              0                           0.0
4        OC           1435  ...            570                          54.1
5        SA           2101  ...            749                          75.7

[6 rows x 5 columns]

In [4]:
# Print the mean alcohol consumption per continent for every column
print("Print the mean alcohol consumption per continent for every column :")
cont_stat['mean'] = cont_stat.mean(axis=1)
print(cont_stat)


# Print the median alcohol consumption per continent for every column
print("Print the median alcohol consumption per continent for every column :")
cont_stat['median'] = cont_stat.median(axis=1)
print(cont_stat)

# Print the mean, min and max values for spirit consumption.
print("Print the mean, min and max values for spirit consumption:")

m=[AS[1], EU[1], AF[1], NA[1], OC[1], SA[1]]
me=sum(m) / len(m) 
print(me)

ma=max(m)
print(ma)

mi=min(m)
print(mi)





raw_data = {'mean': [me],
            'max': [ma],
            'min': [mi]
            }




dv=pd.DataFrame(raw_data, columns = ['mean','max','min'])
print(dv)

Print the mean alcohol consumption per continent for every column :
  continent  beer_servings  ...  total_litres_of_pure_alcohol      mean
0        AS           1630  ...                          95.5  1200.375
1        EU           8720  ...                         387.8  5368.200
2        AF           3258  ...                         159.4  1286.350
3        NA              0  ...                           0.0     0.000
4        OC           1435  ...                          54.1   748.525
5        SA           2101  ...                          75.7  1075.675

[6 rows x 6 columns]
Print the median alcohol consumption per continent for every column :
  continent  beer_servings  ...      mean    median
0        AS           1630  ...  1200.375  1200.375
1        EU           8720  ...  5368.200  5965.000
2        AF           3258  ...  1286.350   866.000
3        NA              0  ...     0.000     0.000
4        OC           1435  ...   748.525   748.525
5        SA           2101  ...  1075.675  1075.675

[6 rows x 7 columns]
Print the mean, min and max values for spirit consumption:
1970.0
5965
0
     mean   max  min
0  1970.0  5965    0