<a href="https://colab.research.google.com/github/bachi-mohamed-rafik/pandas/blob/main/Euro12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Euro12

In [1]:
import pandas as pd
import statistics
 
url="https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv"
euro12=pd.read_csv(url ,sep=',')
print(euro12)

                   Team  Goals  ...  Subs off  Players Used
0               Croatia      4  ...         9            16
1        Czech Republic      4  ...        11            19
2               Denmark      4  ...         7            15
3               England      5  ...        11            16
4                France      3  ...        11            19
5               Germany     10  ...        15            17
6                Greece      5  ...        12            20
7                 Italy      6  ...        18            19
8           Netherlands      2  ...         7            15
9                Poland      2  ...         7            17
10             Portugal      6  ...        14            16
11  Republic of Ireland      1  ...        10            17
12               Russia      5  ...         7            16
13                Spain     12  ...        17            18
14               Sweden      5  ...         9            18
15              Ukraine      2  ...         9            18

[16 rows x 35 columns]

In [2]:
# Select only the Goal column
print("Select only the Goal column")
c=euro12['Goals']
print(c)

Select only the Goal column
0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

In [3]:
# How many team participated in the Euro2012
print(" How many team participated in the Euro2012")
print(euro12.shape[0])

# What is the number of columns in the dataset?
print("The number of columns in the dataset?")
print(len(euro12.columns))

 How many team participated in the Euro2012
16
The number of columns in the dataset?
35

In [4]:
# View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline
print("View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline:")
Yellow_Cards = euro12['Yellow Cards'].tolist()
Red_Cards = euro12['Red Cards'].tolist()
data= {'Yellow Cards':Yellow_Cards,
       'Red Cards':Red_Cards
}

discipline=pd.DataFrame(data, columns = ['Yellow Cards','Red Cards'])
print(discipline)

View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline:
    Yellow Cards  Red Cards
0              9          0
1              7          0
2              4          0
3              5          0
4              6          0
5              4          0
6              9          1
7             16          0
8              5          0
9              7          1
10            12          0
11             6          1
12             6          0
13            11          0
14             7          0
15             5          0

In [5]:
# Sort the teams by Red Cards, then to Yellow Cards
print("Sort the teams by Red Cards:")
resultr = euro12.sort_values(by=['Red Cards'])
print(resultr['Team'])
print("Sort the teams by Yellow Cards:")
resulty = euro12.sort_values(by=['Yellow Cards'])
print(resulty['Team'])

# Calculate the mean Yellow Cards given per Team
print("The mean Yellow Cards given per Team:")
myc=euro12['Yellow Cards']
b =euro12['Yellow Cards'].tolist()
print(statistics.mean(b))

# Filter teams that scored more than 6 goals
print("Filter teams that scored more than 6 goals:")
v=euro12[euro12.Goals>6]
print(v['Team'])

Sort the teams by Red Cards:
0                 Croatia
1          Czech Republic
2                 Denmark
3                 England
4                  France
5                 Germany
7                   Italy
8             Netherlands
10               Portugal
12                 Russia
13                  Spain
14                 Sweden
15                Ukraine
6                  Greece
9                  Poland
11    Republic of Ireland
Name: Team, dtype: object
Sort the teams by Yellow Cards:
2                 Denmark
5                 Germany
3                 England
8             Netherlands
15                Ukraine
4                  France
11    Republic of Ireland
12                 Russia
1          Czech Republic
9                  Poland
14                 Sweden
0                 Croatia
6                  Greece
13                  Spain
10               Portugal
7                   Italy
Name: Team, dtype: object
The mean Yellow Cards given per Team:
7.4375
Filter teams that scored more than 6 goals:
5     Germany
13      Spain
Name: Team, dtype: object

In [6]:
# Select the teams that start with G
print("The teams that start with G:")
s = euro12.loc[euro12['Team'].str.startswith('G'), 'Team']
print(s)

# Select the first 7 columns
print("The first 7 columns :")
print( euro12.columns[:7])

# Select all columns except the last 3
print("Select all columns except the last 3 :")
print(euro12.iloc[:,:-3])

# Present only the Shooting Accuracy from England, Italy and Russia
h=euro12.loc[euro12.Team.isin(['England','Italy','Russia']),['Team','Shooting Accuracy']]
print(h)

The teams that start with G:
5    Germany
6     Greece
Name: Team, dtype: object
The first 7 columns :
Index(['Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots', 'Total shots (inc. Blocked)'],
      dtype='object')
Select all columns except the last 3 :
                   Team  Goals  ...  Yellow Cards  Red Cards
0               Croatia      4  ...             9          0
1        Czech Republic      4  ...             7          0
2               Denmark      4  ...             4          0
3               England      5  ...             5          0
4                France      3  ...             6          0
5               Germany     10  ...             4          0
6                Greece      5  ...             9          1
7                 Italy      6  ...            16          0
8           Netherlands      2  ...             5          0
9                Poland      2  ...             7          1
10             Portugal      6  ...            12          0
11  Republic of Ireland      1  ...             6          1
12               Russia      5  ...             6          0
13                Spain     12  ...            11          0
14               Sweden      5  ...             7          0
15              Ukraine      2  ...             5          0

[16 rows x 32 columns]
       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%