<a href="https://colab.research.google.com/github/bachi-mohamed-rafik/pandas/blob/main/Housing_market.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Housing market

In [1]:
import pandas as pd
import numpy as np

# Let's create a DataFrame by joinning the Series by column
print("Create a DataFrame by joinning the Series by column :")
ser1 = pd.Series(np.random.randint(1,5,size=100)) 
print(ser1) 


ser2 = pd.Series(np.random.randint(1,4,size=100)) 
print(ser2) 


ser3 = pd.Series(np.random.randint(10000,30001,size=100))  
print(ser3)

Create a DataFrame by joinning the Series by column :
0     4
1     2
2     3
3     1
4     1
     ..
95    2
96    4
97    2
98    2
99    4
Length: 100, dtype: int64
0     3
1     3
2     1
3     3
4     1
     ..
95    1
96    3
97    3
98    2
99    3
Length: 100, dtype: int64
0     20003
1     23516
2     12092
3     28891
4     22479
      ...
95    26031
96    28760
97    15232
98    29507
99    19107
Length: 100, dtype: int64

In [2]:
# Change the name of the columns to bedrs, bathrs, price_sqr_meter
print("Change the name of the columns to bedrs, bathrs, price_sqr_meter :")
housemkt =pd.concat([ser1, ser2, ser3], axis=1, keys=["bedrs", "bathrs", "price_sqr_meter"])
print(housemkt)

# Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'
print("Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn' :")



bigcolumn=pd.concat([ser1, ser2, ser3], axis=0)
bigcolumn.to_frame()
print(bigcolumn)
print(type(bigcolumn))
print(len(bigcolumn))

new_index = []
for i in range(100):
	new_index.append(i)

print(new_index)

bigcolumn.reset_index(drop=True, inplace=True)
print(bigcolumn)

Change the name of the columns to bedrs, bathrs, price_sqr_meter :
    bedrs  bathrs  price_sqr_meter
0       4       3            20003
1       2       3            23516
2       3       1            12092
3       1       3            28891
4       1       1            22479
..    ...     ...              ...
95      2       1            26031
96      4       3            28760
97      2       3            15232
98      2       2            29507
99      4       3            19107

[100 rows x 3 columns]
Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn' :
0         4
1         2
2         3
3         1
4         1
      ...
95    26031
96    28760
97    15232
98    29507
99    19107
Length: 300, dtype: int64
<class 'pandas.core.series.Series'>
300
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
0          4
1          2
2          3
3          1
4          1
       ...
295    26031
296    28760
297    15232
298    29507
299    19107
Length: 300, dtype: int64