<a href="https://colab.research.google.com/github/bachi-mohamed-rafik/pandas/blob/main/Occupation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#PAndas
#Occupation

In [1]:
# Import the necessary libraries
import pandas as pd
import requests

In [2]:
# Import the dataset from this address.Â¶
# Assign it to a variable called chipo
url="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
users=pd.read_csv(url ,sep='|', index_col='user_id')

#Step 4. See the first 25 entries
print("See the first 25 entries :")
print(users.head(25))

# Step 5. See the last 10 entries
print("Step 5. See the last 10 entries : ")
print(users.tail(10))

See the first 25 entries :
         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107
Step 5. See the last 10 entries :
         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

In [3]:
# Step 6. What is the number of observations in the dataset
print("What is the number of observations in the dataset :")
print(users.shape[0])

# Step 7. What is the number of columns in the dataset
print(" What is the number of columns in the dataset")
print(users.shape[1])

# Step 8. Print the name of all the columns.
print("The name of all the columns.")
print(users.columns)

What is the number of observations in the dataset :
943
 What is the number of columns in the dataset
4
The name of all the columns.
Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [4]:
#Step 9. How is the dataset indexed
print("How is the dataset indexed : ")
print(users.index)

#Step 10. What is the data type of each column?
print("The data type of each column")
print(users.dtypes)

How is the dataset indexed :
Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)
The data type of each column
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [5]:
#Step 11. Print only the occupation column
print("Only the occupation column")
print(users.occupation)

#Step 12. How many different occupations are in this dataset
print("Different occupations are in this dataset")
occupations=users.occupation.value_counts()
print(len(occupations))

# Step 13. What is the most frequent occupation?
print("The most frequent occupation :")
print(occupations.head(1))

Only the occupation column
user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object
Different occupations are in this dataset
21
The most frequent occupation :
student    196
Name: occupation, dtype: int64

In [6]:
# Step 14. Summarize the DataFrame.
print("Summarize the DataFrame : ")
print(users.describe())

#Step 15. Summarize all the columns
print("Summarize all the columns")
print(users.describe(include="all"))

#Step 16. Summarize only the occupation column
print("Summarize only the occupation column :")
print(users.occupation.describe())

Summarize the DataFrame :
              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000
Summarize all the columns
               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN
Summarize only the occupation column :
count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [7]:
# Step 17. What is the mean age of users?
print("Mean age of users :")
print(users.age.mean())

#Step 18. What is the age with least occurrence?
print("The age with least occurrence :")
print(users.age.value_counts().tail())

Mean age of users :
34.05196182396607
The age with least occurrence :
11    1
10    1
73    1
66    1
7     1
Name: age, dtype: int64