Series

In [1]:
import pandas as pd
s= pd.Series()
print(s)

Series([], dtype: float64)

/tmp/ipykernel_9565/2200384876.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s= pd.Series()

In [2]:
import numpy as np 
import pandas as pd
data=np.array(['a','b','c','d'])
s=pd.Series(data,index=[3,5,8,7])
print(s)

3    a
5    b
8    c
7    d
dtype: object

Create a series from a dictionnary

In [3]:
data={'a':0 ,
      'b':1 ,
      'c':2 }
s=pd.Series(data)
print(s)

a    0
b    1
c    2
dtype: int64

Create a series from a scalar

In [4]:
s=pd.Series([1,2,3,4],index=[1,2,3,4])
print(s)
print("s[1] =  ",s[1])
print(s[:2])
print(s[-3:])

1    1
2    2
3    3
4    4
dtype: int64
s[1] =   1
1    1
2    2
dtype: int64
2    2
3    3
4    4
dtype: int64

Data frame

In [5]:
#To create a dataframe you can use varuous inputs like: lists dict series numpy ndarrays 

#Create a dateframe from a list 

import pandas as pd
data=[1,8,2,3,4,56,5,9]
df=pd.DataFrame(data)
print(df)

    0
0   1
1   8
2   2
3   3
4   4
5  56
6   5
7   9

In [6]:
data=[["rafik",25],["fayçal",27],["mehdi",28]]
columns=["name","age"]
df=pd.DataFrame(data,columns=columns)
df

     name  age
0   rafik   25
1  fayçal   27
2   mehdi   28

In [7]:
#Create a dataframe from an ndarrays
data={
    'title':[
        'first title',
        'Escond title',
        'Third title'
    ],
    'description':[
        "Description one",
        "Description two",
        "Description Three"
    ]
}
df=pd.DataFrame(data)
df

          title        description
0   first title    Description one
1  Escond title    Description two
2   Third title  Description Three

In [8]:
#Create a dataframe from a list of dicts

data = [
    {
        "a":"ok",
        "f":"fighting"
    },
    {
        "a":"shopping",
        "f":"footing",
        "d": " gaming"
    }
]
df= pd.DataFrame(data)
df

          a         f        d
0        ok  fighting      NaN
1  shopping   footing   gaming

In [9]:
#Create a Dataframe from a Dictionnary of Series

data = {
    "action_one":pd.Series(["sport1","coding1","swimming1"],index=[1,2,3]),
    "action_two":pd.Series(["sport2","coding2","swimming2"],index=[1,2,3])
}
df=pd.DataFrame(data)
print(df)
df['action_two']

  action_one action_two
1     sport1     sport2
2    coding1    coding2
3  swimming1  swimming2

1       sport2
2      coding2
3    swimming2
Name: action_two, dtype: object

In [10]:
df["action_three"]=pd.Series(["sport3","coding3","swimming3"],index=[1,2,3])
df

  action_one action_two action_three
1     sport1     sport2       sport3
2    coding1    coding2      coding3
3  swimming1  swimming2    swimming3

In [11]:
# Delete a column
df.drop(["action_three"],axis = 1, inplace = True)

In [12]:
df

  action_one action_two
1     sport1     sport2
2    coding1    coding2
3  swimming1  swimming2

In [13]:
df["action_one"]

1       sport1
2      coding1
3    swimming1
Name: action_one, dtype: object

In [14]:
# Row selection
df.loc[2]

action_one    coding1
action_two    coding2
Name: 2, dtype: object

Panel

In [23]:
# Create panel from ndarray

import pandas as pd
import numpy as np

data=np.random.rand(2,4,5)
data

array([[[0.82883867, 0.91695691, 0.46217529, 0.03301141, 0.68936357],
        [0.87388999, 0.15794192, 0.81296594, 0.842491  , 0.51950759],
        [0.2544296 , 0.3248556 , 0.02241108, 0.86788346, 0.76862331],
        [0.53163806, 0.73656911, 0.40995791, 0.86298646, 0.32350447]],

       [[0.9504571 , 0.06632117, 0.15511622, 0.07010171, 0.17179124],
        [0.55361698, 0.68945075, 0.18416227, 0.78368601, 0.09121234],
        [0.24246143, 0.3321219 , 0.86303883, 0.48157662, 0.88758321],
        [0.74025604, 0.89531929, 0.95053802, 0.96791552, 0.67195114]]])

In [26]:
data = np.random.rand(2,4,5)
p = pd.Panel(data)
print (p)

AttributeError: module 'pandas' has no attribute 'Panel'