<a href="https://colab.research.google.com/github/bachi-mohamed-rafik/pandas/blob/main/Pokemon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pokemon

In [1]:
import pandas as pd

data={'evolution':['Ivysaur','Charmeleon','Wartortle','Metapod'],'hp':[45,39,44,45],'name':['Bulbasaur','Charmander','Squirtle','Caterpie'],'pokedex':['yes','no','yes','no'],'type':['grass','fire','water','bug']}
pokemon=pd.DataFrame(data,columns=['evolution','hp','name','pokedex','type'])

print(pokemon.head(10))

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

In [2]:
# Ops...it seems the DataFrame columns are in alphabetical order. Place the order of the columns as name, type, hp, evolution, pokedex
print("Place the order of the columns as name, type, hp, evolution, pokedex:") 
pokemon=pd.DataFrame(data,columns=['name', 'type',' hp', 'evolution', 'pokedex'])

print(pokemon)

Place the order of the columns as name, type, hp, evolution, pokedex:
         name   type   hp   evolution pokedex
0   Bulbasaur  grass  NaN     Ivysaur     yes
1  Charmander   fire  NaN  Charmeleon      no
2    Squirtle  water  NaN   Wartortle     yes
3    Caterpie    bug  NaN     Metapod      no

In [3]:
# Add another column called place, and insert what you have in mind.
print("Add another column called place, and insert what you have in mind:")

pokemon['place']=['park','street','lake','forest']
print(pokemon.columns)

Add another column called place, and insert what you have in mind:
Index(['name', 'type', ' hp', 'evolution', 'pokedex', 'place'], dtype='object')

In [4]:
# Present the type of each column
print("Present the type of each column:")
print(pokemon.dtypes)

Present the type of each column:
name         object
type         object
 hp          object
evolution    object
pokedex      object
place        object
dtype: object