<a href="https://colab.research.google.com/github/bachi-mohamed-rafik/pandas/blob/main/Sorting_chipotle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Sorting chipotle

In [1]:
import pandas as pd

url="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo=pd.read_csv(url ,sep='\t')

In [2]:
# What is the price of each item?
print("The price of each item :")

col1_list = chipo['item_name'].tolist()
col2_list = chipo['item_price'].tolist()

cars = {'item_name': col1_list,
        'item_price': col2_list
        }

df = pd.DataFrame(cars, columns = ['item_name', 'item_price'])

print (df)

The price of each item :
                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

In [3]:
# Sort by the name of the item
print("Sort by the name of the item :")
result = df.sort_values(by=['item_name'])
#df['item_name'].sort_value()
print(result)

Sort by the name of the item :
              item_name item_price
3389  6 Pack Soft Drink    $12.98
341   6 Pack Soft Drink     $6.49
1849  6 Pack Soft Drink     $6.49
1860  6 Pack Soft Drink     $6.49
2713  6 Pack Soft Drink     $6.49
...                 ...        ...
2384  Veggie Soft Tacos     $8.75
781   Veggie Soft Tacos     $8.75
2851  Veggie Soft Tacos     $8.49
1699  Veggie Soft Tacos    $11.25
1395  Veggie Soft Tacos     $8.49

[4622 rows x 2 columns]

In [4]:
# What was the quantity of the most expensive item ordered?
print("The quantity of the most expensive item ordered :")

col1_list = chipo['item_name'].tolist()
col2_list = chipo['item_price'].tolist()
col3_list = chipo['quantity'].tolist()

cars = {'item_name': col1_list,
        'item_price': col2_list,
        'quantity': col3_list
        }

f = pd.DataFrame(cars, columns = ['item_name', 'item_price','quantity'])


f['item_price'] = f['item_price'].map(lambda x: x.lstrip('$'))
f['item_price'] = f['item_price'].astype({"item_price": float})
t=f['item_price'].max()
v=f.loc[f['item_price'] == t]
print(v['quantity'])

The quantity of the most expensive item ordered :
3598    15
Name: quantity, dtype: int64

In [5]:
# How many times was a Veggie Salad Bowl ordered?
print("How many times was a Veggie Salad Bowl ordered :")
items  = chipo.item_name.value_counts()

v=f.loc[f['item_name'] == "Veggie Salad Bowl"]
print(len(v. index))


# How many times did someone order more than one Canned Soda?
print("How many times did someone order more than one Canned Soda:")

va=chipo[(chipo.item_name=="Canned Soda")&(chipo.quantity>1)]

print(len(va))

How many times was a Veggie Salad Bowl ordered :
18
How many times did someone order more than one Canned Soda:
20