<a href="https://colab.research.google.com/github/bachi-mohamed-rafik/pandas/blob/main/Student_Alcohol_Consumption.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Student Alcohol Consumption

In [1]:
import pandas as pd
import numpy as np
url="https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv"
df=pd.read_csv(url,sep=',')
print(df)

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0       GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1       GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2       GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3       GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4       GP   F   16       U     GT3       T  ...     2       5        4   6  10  10
..     ...  ..  ...     ...     ...     ...  ...   ...     ...      ...  ..  ..  ..
390     MS   M   20       U     LE3       A  ...     5       4       11   9   9   9
391     MS   M   17       U     LE3       T  ...     4       2        3  14  16  16
392     MS   M   21       R     GT3       T  ...     3       3        3  10   8   7
393     MS   M   18       R     LE3       T  ...     4       5        0  11  12  10
394     MS   M   19       U     LE3       T  ...     3       5        5   8   9   9

[395 rows x 33 columns]

In [2]:
# For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column
print("For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column:")
z=df.loc[:,"school":"guardian"]
print(z)

# Create a lambda function that will capitalize strings
print("Create a lambda function that will capitalize strings:")
cap= lambda x: x.capitalize()

For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column:
    school sex  age address famsize  ... Fedu      Mjob      Fjob  reason guardian
0       GP   F   18       U     GT3  ...    4   at_home   teacher  course   mother
1       GP   F   17       U     GT3  ...    1   at_home     other  course   father
2       GP   F   15       U     LE3  ...    1   at_home     other   other   mother
3       GP   F   15       U     GT3  ...    2    health  services    home   mother
4       GP   F   16       U     GT3  ...    3     other     other    home   father
..     ...  ..  ...     ...     ...  ...  ...       ...       ...     ...      ...
390     MS   M   20       U     LE3  ...    2  services  services  course    other
391     MS   M   17       U     LE3  ...    1  services  services  course   mother
392     MS   M   21       R     GT3  ...    1     other     other  course    other
393     MS   M   18       R     LE3  ...    2  services     other  course   mother
394     MS   M   19       U     LE3  ...    1     other   at_home  course   father

[395 rows x 12 columns]
Create a lambda function that will capitalize strings:

In [3]:
# Capitalize both Mjob and Fjob
print("Step 6. Capitalize both Mjob and Fjob :")
capitalizer = lambda x: x.capitalize()

print( z['Mjob'].apply(cap))
print (z['Fjob'].apply(cap))

# Print the last elements of the data set.
print("Print the last elements of the data set :")
print( df.iloc[-1])

Step 6. Capitalize both Mjob and Fjob :
0       At_home
1       At_home
2       At_home
3        Health
4         Other
         ...
390    Services
391    Services
392       Other
393    Services
394       Other
Name: Mjob, Length: 395, dtype: object
0       Teacher
1         Other
2         Other
3      Services
4         Other
         ...
390    Services
391    Services
392       Other
393       Other
394     At_home
Name: Fjob, Length: 395, dtype: object
Print the last elements of the data set :
school             MS
sex                 M
age                19
address             U
famsize           LE3
Pstatus             T
Medu                1
Fedu                1
Mjob            other
Fjob          at_home
reason         course
guardian       father
traveltime          1
studytime           1
failures            0
schoolsup          no
famsup             no
paid               no
activities         no
nursery           yes
higher            yes
internet          yes
romantic           no
famrel              3
freetime            2
goout               3
Dalc                3
Walc                3
health              5
absences            5
G1                  8
G2                  9
G3                  9
Name: 394, dtype: object

In [4]:
# Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.
print("Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob:")
df['Mjob']=df['Mjob'].apply(cap)
df['Fjob']=df['Fjob'].apply(cap)
print(df)
print(df['Mjob'])
print(df['Fjob'])

# Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)
print("reate a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old) :")
def majority(x):
	if(x>17):
		return True
	else:
		return False

df['legal_drinker']=df['age'].apply(majority)
print( df)

Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob:
    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0       GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1       GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2       GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3       GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4       GP   F   16       U     GT3       T  ...     2       5        4   6  10  10
..     ...  ..  ...     ...     ...     ...  ...   ...     ...      ...  ..  ..  ..
390     MS   M   20       U     LE3       A  ...     5       4       11   9   9   9
391     MS   M   17       U     LE3       T  ...     4       2        3  14  16  16
392     MS   M   21       R     GT3       T  ...     3       3        3  10   8   7
393     MS   M   18       R     LE3       T  ...     4       5        0  11  12  10
394     MS   M   19       U     LE3       T  ...     3       5        5   8   9   9

[395 rows x 33 columns]
0       At_home
1       At_home
2       At_home
3        Health
4         Other
         ...
390    Services
391    Services
392       Other
393    Services
394       Other
Name: Mjob, Length: 395, dtype: object
0       Teacher
1         Other
2         Other
3      Services
4         Other
         ...
390    Services
391    Services
392       Other
393       Other
394     At_home
Name: Fjob, Length: 395, dtype: object
reate a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old) :
    school sex  age address famsize  ... absences  G1  G2  G3 legal_drinker
0       GP   F   18       U     GT3  ...        6   5   6   6          True
1       GP   F   17       U     GT3  ...        4   5   5   6         False
2       GP   F   15       U     LE3  ...       10   7   8  10         False
3       GP   F   15       U     GT3  ...        2  15  14  15         False
4       GP   F   16       U     GT3  ...        4   6  10  10         False
..     ...  ..  ...     ...     ...  ...      ...  ..  ..  ..           ...
390     MS   M   20       U     LE3  ...       11   9   9   9          True
391     MS   M   17       U     LE3  ...        3  14  16  16         False
392     MS   M   21       R     GT3  ...        3  10   8   7          True
393     MS   M   18       R     LE3  ...        0  11  12  10          True
394     MS   M   19       U     LE3  ...        5   8   9   9          True

[395 rows x 34 columns]

In [5]:
# Multiply every number of the dataset by 10.		
print("Multiply every number of the dataset by 10:")
def times10(x):
	if type(x) is int :
		return x*10
	return x	

print(df.applymap(times10).head(10))

Multiply every number of the dataset by 10:
  school sex  age address famsize  ... absences   G1   G2   G3 legal_drinker
0     GP   F  180       U     GT3  ...       60   50   60   60          True
1     GP   F  170       U     GT3  ...       40   50   50   60         False
2     GP   F  150       U     LE3  ...      100   70   80  100         False
3     GP   F  150       U     GT3  ...       20  150  140  150         False
4     GP   F  160       U     GT3  ...       40   60  100  100         False
5     GP   M  160       U     LE3  ...      100  150  150  150         False
6     GP   M  160       U     LE3  ...        0  120  120  110         False
7     GP   F  170       U     GT3  ...       60   60   50   60         False
8     GP   M  150       U     LE3  ...        0  160  180  190         False
9     GP   M  150       U     GT3  ...        0  140  150  150         False

[10 rows x 34 columns]