<a href="https://colab.research.google.com/github/bachi-mohamed-rafik/pandas/blob/main/Wine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Wine

In [1]:
import pandas as pd
import numpy as np

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data'
wine = pd.read_csv(url)

print(wine.head())

   1  14.23  1.71  2.43  15.6  127  ...   .28  2.29  5.64  1.04  3.92  1065
0  1  13.20  1.78  2.14  11.2  100  ...  0.26  1.28  4.38  1.05  3.40  1050
1  1  13.16  2.36  2.67  18.6  101  ...  0.30  2.81  5.68  1.03  3.17  1185
2  1  14.37  1.95  2.50  16.8  113  ...  0.24  2.18  7.80  0.86  3.45  1480
3  1  13.24  2.59  2.87  21.0  118  ...  0.39  1.82  4.32  1.04  2.93   735
4  1  14.20  1.76  2.45  15.2  112  ...  0.34  1.97  6.75  1.05  2.85  1450

[5 rows x 14 columns]

In [2]:
# Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns
print("Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns:")
col=[0,3,6,8,11,12,13]
wine.drop(wine.columns[col],axis=1,inplace= True)
print(wine.columns)

Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns:
Index(['14.23', '1.71', '15.6', '127', '3.06', '2.29', '5.64'], dtype='object')

In [3]:
# Assign the columns as below:Â¶

print("Assign the columns :")
wine.columns=['alcohol','malic_acid','alcalinity_of_ash','magnesium','flavanoids','proanthocyanins','hue']
print(wine)

Assign the columns :
     alcohol  malic_acid  alcalinity_of_ash  ...  flavanoids  proanthocyanins    hue
0      13.20        1.78               11.2  ...        2.76             1.28   4.38
1      13.16        2.36               18.6  ...        3.24             2.81   5.68
2      14.37        1.95               16.8  ...        3.49             2.18   7.80
3      13.24        2.59               21.0  ...        2.69             1.82   4.32
4      14.20        1.76               15.2  ...        3.39             1.97   6.75
..       ...         ...                ...  ...         ...              ...    ...
172    13.71        5.65               20.5  ...        0.61             1.06   7.70
173    13.40        3.91               23.0  ...        0.75             1.41   7.30
174    13.27        4.28               20.0  ...        0.69             1.35  10.20
175    13.17        2.59               20.0  ...        0.68             1.46   9.30
176    14.13        4.10               24.5  ...        0.76             1.35   9.20

[177 rows x 7 columns]

In [4]:
# Set the values of the first 3 rows from alcohol as NaN
print("Set the values of the first 3 rows from alcohol as NaN :")
wine.iloc[0:3,:]=np.nan
print(wine)

Set the values of the first 3 rows from alcohol as NaN :
     alcohol  malic_acid  alcalinity_of_ash  ...  flavanoids  proanthocyanins    hue
0        NaN         NaN                NaN  ...         NaN              NaN    NaN
1        NaN         NaN                NaN  ...         NaN              NaN    NaN
2        NaN         NaN                NaN  ...         NaN              NaN    NaN
3      13.24        2.59               21.0  ...        2.69             1.82   4.32
4      14.20        1.76               15.2  ...        3.39             1.97   6.75
..       ...         ...                ...  ...         ...              ...    ...
172    13.71        5.65               20.5  ...        0.61             1.06   7.70
173    13.40        3.91               23.0  ...        0.75             1.41   7.30
174    13.27        4.28               20.0  ...        0.69             1.35  10.20
175    13.17        2.59               20.0  ...        0.68             1.46   9.30
176    14.13        4.10               24.5  ...        0.76             1.35   9.20

[177 rows x 7 columns]

In [5]:
# Now set the value of the rows 3 and 4 of magnesium as NaN
print("Now set the value of the rows 3 and 4 of magnesium as NaN:")
wine.iloc[2:3,3]=np.nan
print(wine.magnesium)

Now set the value of the rows 3 and 4 of magnesium as NaN:
0        NaN
1        NaN
2        NaN
3      118.0
4      112.0
       ...
172     95.0
173    102.0
174    120.0
175    120.0
176     96.0
Name: magnesium, Length: 177, dtype: float64

In [6]:
# Fill the value of NaN with the number 10 in alcohol and 100 in magnesium
print("Fill the value of NaN with the number 10 in alcohol and 100 in magnesium:")
wine["alcohol"].fillna(10, inplace = True) 
wine["magnesium"].fillna(100, inplace = True) 
print(wine)

Fill the value of NaN with the number 10 in alcohol and 100 in magnesium:
     alcohol  malic_acid  alcalinity_of_ash  ...  flavanoids  proanthocyanins    hue
0      10.00         NaN                NaN  ...         NaN              NaN    NaN
1      10.00         NaN                NaN  ...         NaN              NaN    NaN
2      10.00         NaN                NaN  ...         NaN              NaN    NaN
3      13.24        2.59               21.0  ...        2.69             1.82   4.32
4      14.20        1.76               15.2  ...        3.39             1.97   6.75
..       ...         ...                ...  ...         ...              ...    ...
172    13.71        5.65               20.5  ...        0.61             1.06   7.70
173    13.40        3.91               23.0  ...        0.75             1.41   7.30
174    13.27        4.28               20.0  ...        0.69             1.35  10.20
175    13.17        2.59               20.0  ...        0.68             1.46   9.30
176    14.13        4.10               24.5  ...        0.76             1.35   9.20

[177 rows x 7 columns]

In [7]:
# Count the number of missing values
print("Count the number of missing values:")

print(wine.isnull().sum().count())

Count the number of missing values:
7

In [8]:
# Create an array of 10 random numbers up until 10
print("Create an array of 10 random numbers up until 10:")

random=np.random.randint(10,size=10)
print(random)

Create an array of 10 random numbers up until 10:
[2 4 1 8 5 3 3 0 5 6]

In [9]:
# Use random numbers you generated as an index and assign NaN value to each of cell.
print("Use random numbers you generated as an index and assign NaN value to each of cell:")
wine.alcohol[random] = np.nan
print(wine.head(10))

Use random numbers you generated as an index and assign NaN value to each of cell:
   alcohol  malic_acid  alcalinity_of_ash  ...  flavanoids  proanthocyanins   hue
0      NaN         NaN                NaN  ...         NaN              NaN   NaN
1      NaN         NaN                NaN  ...         NaN              NaN   NaN
2      NaN         NaN                NaN  ...         NaN              NaN   NaN
3      NaN        2.59               21.0  ...        2.69             1.82  4.32
4      NaN        1.76               15.2  ...        3.39             1.97  6.75
5      NaN        1.87               14.6  ...        2.52             1.98  5.25
6      NaN        2.15               17.6  ...        2.51             1.25  5.05
7    14.83        1.64               14.0  ...        2.98             1.98  5.20
8      NaN        1.35               16.0  ...        3.15             1.85  7.22
9    14.10        2.16               18.0  ...        3.32             2.38  5.75

[10 rows x 7 columns]

In [10]:
# How many missing values do we have?
print("How many missing values do we have:")
print(wine.isnull().sum().count())

How many missing values do we have:
7

In [11]:
# Delete the rows that contain missing values
print("Delete the rows that contain missing values:")
wine.dropna(axis = 0, how = "any")
print(wine)

Delete the rows that contain missing values:
     alcohol  malic_acid  alcalinity_of_ash  ...  flavanoids  proanthocyanins    hue
0        NaN         NaN                NaN  ...         NaN              NaN    NaN
1        NaN         NaN                NaN  ...         NaN              NaN    NaN
2        NaN         NaN                NaN  ...         NaN              NaN    NaN
3        NaN        2.59               21.0  ...        2.69             1.82   4.32
4        NaN        1.76               15.2  ...        3.39             1.97   6.75
..       ...         ...                ...  ...         ...              ...    ...
172    13.71        5.65               20.5  ...        0.61             1.06   7.70
173    13.40        3.91               23.0  ...        0.75             1.41   7.30
174    13.27        4.28               20.0  ...        0.69             1.35  10.20
175    13.17        2.59               20.0  ...        0.68             1.46   9.30
176    14.13        4.10               24.5  ...        0.76             1.35   9.20

[177 rows x 7 columns]

In [12]:
# Print only the non-null values in alcohol
print("Print only the non-null values in alcohol:")
print(wine.alcohol.notnull())

Print only the non-null values in alcohol:
0      False
1      False
2      False
3      False
4      False
       ...
172     True
173     True
174     True
175     True
176     True
Name: alcohol, Length: 177, dtype: bool

In [13]:
# Reset the index, so it starts with 0 again
print("Reset the index, so it starts with 0 again:")
wine=wine.reset_index(0)
print(wine)

Reset the index, so it starts with 0 again:
     index  alcohol  malic_acid  ...  flavanoids  proanthocyanins    hue
0        0      NaN         NaN  ...         NaN              NaN    NaN
1        1      NaN         NaN  ...         NaN              NaN    NaN
2        2      NaN         NaN  ...         NaN              NaN    NaN
3        3      NaN        2.59  ...        2.69             1.82   4.32
4        4      NaN        1.76  ...        3.39             1.97   6.75
..     ...      ...         ...  ...         ...              ...    ...
172    172    13.71        5.65  ...        0.61             1.06   7.70
173    173    13.40        3.91  ...        0.75             1.41   7.30
174    174    13.27        4.28  ...        0.69             1.35  10.20
175    175    13.17        2.59  ...        0.68             1.46   9.30
176    176    14.13        4.10  ...        0.76             1.35   9.20

[177 rows x 8 columns]